<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />    
    <h1>Learn From The Best</h1>
    <br />
    <h2>We're Here To Teach</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>