@font-face {
    font-family: 'sinkin_sans600_semibold';
    src: font_url('sinkinsans-600semibold-webfont.woff2') format('woff2'),
         url('sinkinsans-600semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
